#root {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background: linear-gradient(#0c0c0c, #312c2c);
}

#root>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  flex-direction: row !important;
}

.row>* {
  margin: 5px;
}

h1 {
  font-family: 'Hind', sans-serif;
  color: #fff;
  text-shadow: 0px 0px 60px 0px rgba(74, 241, 177, 0.3);
}

h2 {
  color: #fff;
}

.swipe {
  position: absolute;
}

.cardContainer {
  /* width: 90vw;
  max-width: 260px;
  height: 300px; */
  width: 190vw;
  max-width: 360px;
  height: 400px;
}
/* #222423 */

.card {
  position: relative;
  background-color: rgb(144, 161, 155);
  /* width: 80vw;
  max-width: 260px;
  height: 300px; */
  width: 180vw;
  max-width: 360px;
  height: 450px;
  box-shadow: 0px 0px 60px 0px rgba(60, 236, 183, 0.3);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.cardContent {
  width: 100%;
  height: 100%;
}

.swipe:last-of-type {

}

.card h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  margin-bottom: 30px;
  color: #fff;
}

.card h4 {
  position: absolute;
  font-weight: lighter;
  bottom: 0;
  margin: 10px;
  margin-bottom: 10px;
  color: #fff;
}

.card .age{
  margin-left: 295px;
  font-size: small;
}

.infoText {
  width: 100%;
  height: 28px;
  justify-content: center;
  display: flex;
  color: #fff;
  animation-name: popup;
  animation-duration: 800ms;
  font-family: 'Hind', sans-serif;
}

.buttons {
  margin: 20px;
  display: flex;
  margin-top: 90px;
}

.buttons button {
  flex-shrink: 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  /* color: #fff;
  font-size: 18px;
  background-color: #9198e5; */
  transition: 200ms;
  margin: 0 10px;
  font-weight: bolder;
  width: 160px;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
}

@keyframes popup {
  0%   { transform: scale(1,1) }
  10%  { transform: scale(1.1,1.1) }
  30%  { transform: scale(.9,.9) }
  50%  { transform: scale(1,1) }
  57%  { transform: scale(1,1) }
  64%  { transform: scale(1,1) }
  100% { transform: scale(1,1) }
}

.like-button  {
  cursor: pointer;
  height: 3.8rem;
  text-decoration: none;
  transition: all 0.2s;
}

.like-button:hover{
  filter: opacity(.5) drop-shadow(0 0 0 pink); 
  transform: scale(1.15);
}

.reject-button {
  cursor: pointer;
  height: 4rem;
  text-decoration: none;
  transition: all 0.2s;
}

.reject-button:hover{
  filter: opacity(.5) drop-shadow(0 0 0 red); 
  transform: scale(1.15);
}

.undo-button {
  cursor: pointer;
  /* height: 3.3rem; */
  height: 4.8rem;
  text-decoration: none;
  transition: all 0.2s;
  margin-left: 2.75rem;
  margin-right: 2.5rem;
}

.undo-button:hover{
  filter: brightness(70%) ; 
  transform: scale(1.15);
}