.my-holder{
    /* position: absolute; */
    z-index: 1000;
    /* margin-top: 100px; */
    /* margin-bottom: 100px; */
    width: 50% !important;
    background-color: black;
}

.text-holder{
    font-family: 'Montserrat', sans-serif;
}

.title-logo{
    font-family: 'Nosifer', cursive;
}


.exit-button{
    /* display: inline-block; */
    cursor: pointer;
    font-size: 1.1rem;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    padding-left: 3.4rem;
    padding-right: 3.4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(112, 111, 111, 1);
    margin-left: 50px;
}

.exit-button:hover {
    background-color: rgb(37, 37, 37);
    color: salmon
}

.info-buttons {
    margin: 20px;
    display: flex;
    margin-top: -20px;
  }
  
.info-buttons button {
    flex-shrink: 0;
    padding: 10px;
    border-radius: 5px;
    border: none;
    transition: 200ms;
    margin: 0 10px;
    font-weight: bolder;
    width: 160px;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
}

@keyframes pump {
    0% {transform: scale(0.95);}
    5% {transform: scale(1.1);}
    39% {transform: scale(0.85);}
    45% {transform: scale(1);}
    60% {transform: scale(0.95);}
    100% {transform: scale(0.9);}
  }
  
  .info-like-button  {
    cursor: pointer;
    height: 4.25rem;
    text-decoration: none;
    transition: all 0.2s;
    /* animation: pump 1s linear infinite; */
    /* border-radius: 0 10% 0 0; */
  }
  
  .info-like-button:hover{
    filter: opacity(.5) drop-shadow(0 0 0 red); 
    /* transform: scale(1.15); */
    animation: pump 1.5s linear infinite;
  }
  
  .info-reject-button {
    cursor: pointer;
    height: 4.25rem;
    text-decoration: none;
    transition: all 0.2s;
    margin-left: 5px;
    /* border-radius: 100px; */
  }
  
  .info-reject-button:hover{
    filter: opacity(.5) drop-shadow(0 0 0 red); 
    transform: scale(1.15);
    transform: rotate(90deg);
  }
  
  .info-undo-button {
    filter: brightness(85%);
    cursor: pointer;
    height: 5.25rem;
    text-decoration: none;
    transition: all 0.5s;
    margin-left: 3.75rem;
    margin-right: 3.25rem;
    border-radius: 100px;
    z-index: 0;
  }
  
  .info-undo-button:hover{
    /* filter: invert(70%) ;  */
    transform: scale(1.25);
    transform: rotate(360deg);
  }
  
.infomodal-curtain{
    position: absolute;
    z-index:999;
    background-color: black;
    opacity: .55;
    padding-top: 1000px;
    padding-left: 10000px;
}
  
.hidden{
    display:hidden;
}