.matches-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 370px;  
}

.matches-title {
    margin-top: 45px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-shadow: 0px 0px 60px 0px rgba(74, 241, 177, 0.568);
    font-size: 450%;
  }

.matches-carousel{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    align-items: center;
    width: 85%;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    margin-bottom: -50px;  
  }

.matches-carousel::-webkit-scrollbar {
    display: none;
}

.mini-heart{
  position: absolute;
  margin-left: 200px;
  height: 80px;
  margin-top: -255px;
  animation: pump 3s linear infinite;
  opacity: 0.75;
  filter: opacity(.5) drop-shadow(0 0 0 red); 
}

.matches-moreMatchInfo-curtain{
  position: absolute;
  z-index:999;
  background-color: black;
  opacity: .65;
  padding-top: 1000px;
  padding-left: 10000px;
}
  
