.matches-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 370px;  
}

h1 {
    margin-top: 90px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-shadow: 0px 0px 60px 0px rgba(74, 241, 177, 0.568);
  }

.matches-carousel{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    align-items: center;
    width: 85%;
    -ms-overflow-style: none; 
    scrollbar-width: none;  
  }

.matches-carousel::-webkit-scrollbar {
    display: none;
}

.mini-heart{
  position: absolute;
  margin-left: 100px;
  height: 55px;
  margin-top: -120px;
  animation: pump 3s linear infinite;
  opacity: 0.75;
  filter: opacity(.5) drop-shadow(0 0 0 red); 
}
  
