.med-cardContainer {
    width: 39vw;
    max-width: 240px;
    height: 230px;
    margin-bottom: 90px;
    /* margin-right: auto; */
  }
  
.med-card {
    /* position: flex; */
    background-color: rgb(78, 80, 78);
    height: 250px;
    width: 226px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
  }

.med-name{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    margin-top: 215px;
    /* margin-left: 7px; */
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.092) 0%,rgba(0,0,0, 1) 100%), url(http://www.stadtteilschule-oejendorf.de/Unterricht/files/stacks_image_2936.png);
    padding-right: 160px;;
    padding-left: 10px;
    max-width: 226px;
    overflow: hidden;
    border-radius: 10px;
    color: #fff;
    font-size: 175%;
  }

.med-img {
    height: 250px;
    width: 226px;
    border-radius: 10px;
  }

.med-card:hover{
    box-shadow: 0px 0px 10px 0px rgba(60, 236, 183, 0.295);
  }